<h2>Portfolio</h2>
<div class="page portfolio"> 
    <figure>
        <img src="img/cathy.jpg" alt="Cathy Website">
        <figcaption class="strong">Cathy's Portfolio Website</figcaption>
    </figure>    
    <figure>
        <img src="img/zen.jpg" alt="Zen Garden">
        <figcaption class="strong">Zen Garden Webpage</figcaption>
    </figure>    
    <figure>
        <img src="img/teashop.jpg" alt="Tea Shop">
        <figcaption class="strong">Tea Shop Website</figcaption>
    </figure>   
    <figure>
        <img src="img/restaurant.jpg" alt="Restaurant">
        <figcaption class="strong">Restaurant Website</figcaption>
    </figure>    
    <figure>
        <img src="img/brewTea.jpg" alt="Brew Tea">
        <figcaption class="strong">Video Composition - How to Brew Flower Tea</figcaption>
    </figure>   
    <figure>
        <img src="img/rink.jpg" alt="Skating Rink">
        <figcaption class="strong">Video Composition - Biggest Skating Rink in the World</figcaption>
    </figure>    
</div>